* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.block {
    width: 100%;
    height: 100vh;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transition: all 0s ease;
    font-size: 5rem;
}

.box1 {
    background: #00fbff41;
}

.box2 {
    background: #00ff2a38;
}

.box3 {
    background: #ff00003a;
}

.box4 {
    background: #f2ff003b;
}

.box5 {
    background: #e8e8e8;
}

.box1 h1 {
    animation: box1 linear;
    animation-timeline: view();
    animation-range: cover 0% start 100%;
}

@keyframes box1 {
    0% {
        transform: scale(2);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0.5;
    }
}

.box2 h1 {
    animation: box2 ease-in;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes box2 {
    0% {
        transform: translateY(300px) scale(0);
    }
}

.box3 h1 {
    animation: box3 ease-in;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes box3 {
    0% {
        transform: translateX(300px) scale(0);
    }
}

.box4 h1 {
    animation: box4 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes box4 {
    0% {
        transform: rotate(180deg) scale(0);
    }
}

.box5 h1 {
    position: relative;
}

.box5 h1::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #e8e8e8;
    animation: box5 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes box5 {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}
